apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: balancer-{{.Balancer.Name}}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "3600"
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    {{ range keyValue .Annotations }}
    {{.Key}}: "{{ quoteEscape .Value}}"
    {{ end }}
  labels:
    balancer: {{.Balancer.Name}}
    service: {{.Balancer.Service}}
    type: balancer
    {{ range keyValue .Labels }}
    {{.Key}}: "{{.Value}}"
    {{ end }}
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  {{ with .Balancer.Whitelist }}
  loadBalancerSourceRanges:
  {{ range . }}
  - "{{.}}"
  {{ end }}
  {{ end }}
  selector:
    service: {{.Balancer.Service}}
    release: {{.Release.Id}}
    type: service
  ports:
    {{ range .Balancer.Ports }}
    - name: "{{.Source}}"
      port: {{.Source}}
      protocol: {{.Protocol}}
      targetPort: {{.Target}}
    {{ end }}