apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: balancer-{{.Balancer.Name}}
  annotations:
    {{ if .Balancer.AwsLoadBalancerController }}
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    {{ with .Scheme }}
    service.beta.kubernetes.io/aws-load-balancer-scheme: {{.}}
    {{ end }}
    {{ with .HealthCheckPort }}
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol: tcp
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: "{{.}}"
    {{ end }}
    {{ else }}
    service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "3600"
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    {{ end }}
    {{ range keyValue .Annotations }}
    {{.Key}}: "{{ quoteEscape .Value}}"
    {{ end }}
    {{ if and .Balancer.AwsLoadBalancerController .TcpUdp }}
    service.beta.kubernetes.io/aws-load-balancer-enable-tcp-udp-listener: "true"
    {{ end }}
  labels:
    balancer: {{.Balancer.Name}}
    service: {{.Balancer.Service}}
    type: balancer
    {{ range keyValue .Labels }}
    {{.Key}}: "{{.Value}}"
    {{ end }}
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  {{ with .Balancer.Whitelist }}
  loadBalancerSourceRanges:
  {{ range . }}
  - "{{.}}"
  {{ end }}
  {{ end }}
  selector:
    service: {{.Balancer.Service}}
    type: service
  ports:
    {{ range .Ports }}
    - name: "{{.Name}}"
      port: {{.Source}}
      protocol: {{.Protocol}}
      targetPort: {{.Target}}
    {{ end }}