apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{.Service.Name}}
  namespace: {{.Namespace}}
  labels:
    app: {{.App}}
    service: {{.Service.Name}}
    system: convox
    type: service
    {{- range keyValue .Service.Labels}}
    {{.Key}}: "{{.Value}}"
    {{- end}}
  annotations:
    convox.com/idles: "{{.Idles}}"
    convox.com/backend-protocol: "{{.Service.Port.Scheme}}"
    {{- range $k, $v := .Annotations}}
    {{$k}}: {{ safe $v }}
    {{- end}}
spec:
  virtualhost:
    fqdn: {{ safe .Host }}
    {{- if .ConvoxDomainTLSCertDisable}}
    tls:
      secretName: {{if .Service.Certificate.Id}}{{.Service.Certificate.Id}}{{else}}cert-{{.Service.Name}}{{end}}
    {{- end}}
    {{- if .WhitelistCIDRs}}
    ipAllowPolicy:
    {{- range .WhitelistCIDRs}}
    - cidr: {{ safe . }}
      source: {{if $.ProxyProtocol}}Remote{{else}}Peer{{end}}
    {{- end}}
    {{- end}}
  routes:
  - conditions:
    - prefix: /
    enableWebsockets: true
    {{- if not .Service.Tls.Redirect}}
    permitInsecure: true
    {{- end}}
    services:
    - name: {{.Service.Name}}
      port: {{.Service.Port.Port}}
      {{- if .BackendProtocol}}
      protocol: {{.BackendProtocol}}
      {{- end}}
    {{- if .Service.Timeout}}
    timeoutPolicy:
      response: "{{.Service.Timeout}}s"
      idle: "{{.Service.Timeout}}s"
    {{- end}}
    {{- if .Service.Sticky}}
    loadBalancerPolicy:
      strategy: Cookie
    {{- end}}
{{- range $i, $d := .Service.Domains}}
---
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{$.Service.Name}}-domain-{{$i}}
  namespace: {{$.Namespace}}
  labels:
    app: {{$.App}}
    service: {{$.Service.Name}}
    system: convox
    type: service
spec:
  virtualhost:
    fqdn: {{ safe $d }}
    tls:
      secretName: {{if $.Service.Certificate.Id}}{{$.Service.Certificate.Id}}{{else}}cert-{{$.Service.Name}}-domains{{end}}
    {{- if $.WhitelistCIDRs}}
    ipAllowPolicy:
    {{- range $.WhitelistCIDRs}}
    - cidr: {{ safe . }}
      source: {{if $.ProxyProtocol}}Remote{{else}}Peer{{end}}
    {{- end}}
    {{- end}}
  routes:
  - conditions:
    - prefix: /
    enableWebsockets: true
    {{- if not $.Service.Tls.Redirect}}
    permitInsecure: true
    {{- end}}
    services:
    - name: {{$.Service.Name}}
      port: {{$.Service.Port.Port}}
      {{- if $.BackendProtocol}}
      protocol: {{$.BackendProtocol}}
      {{- end}}
    {{- if $.Service.Timeout}}
    timeoutPolicy:
      response: "{{$.Service.Timeout}}s"
      idle: "{{$.Service.Timeout}}s"
    {{- end}}
    {{- if $.Service.Sticky}}
    loadBalancerPolicy:
      strategy: Cookie
    {{- end}}
{{- end}}
