apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: {{.Namespace}}
  name: {{.App}}
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    convox.idles: "{{.Idles}}"
    {{ range .Services }}
    convox.ingress.service.{{.Name}}.3000.protocol: {{.Port.Scheme}}
    {{ end }}
    {{ range $k, $v := .Annotations }}
    {{$k}}: {{ safe $v }}
    {{ end }}
spec:
  tls:
  {{ range .Services }}
  {{ range (domains $.App .) }}
  - hosts:
    - {{ safe . }}
    {{ with $s := (index $.Secrets .) }}
    secretName: {{.}}
    {{ end }}
  {{ end }}
  {{ end }}
  rules:
    {{ range $s := .Services }}
    {{ range (domains $.App .) }}
    - host: {{ safe . }}
      http:
        paths:
        - backend:
            serviceName: {{$s.Name}}
            servicePort: 3000
    {{ end }}
    {{ end }}