apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: {{.Namespace}}
  name: {{.Service.Name}}
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    convox.com/backend-protocol: "{{.Service.Port.Scheme}}"
    convox.com/idles: "{{.Idles}}"
    kubernetes.io/ingress-class: "{{.Class}}"
    nginx.ingress.kubernetes.io/backend-protocol: "{{.Service.Port.Scheme}}"
    {{ if .Service.Sticky }}
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: CONVOXSESSION
    {{ end }}
    nginx.ingress.kubernetes.io/ssl-redirect: "{{.Service.Tls.Redirect}}"
    {{ range $k, $v := .Annotations }}
    {{$k}}: {{ safe $v }}
    {{ end }}
  labels:
    app: {{.App}}
    service: {{.Service.Name}}
    type: service
spec:
  tls:
  - hosts:
    - {{ safe .Host }}
    secretName: cert-{{.Service.Name}}
  rules:
  - host: {{ safe .Host }}
    http:
      paths:
      - backend:
          serviceName: {{.Service.Name}}
          servicePort: {{.Service.Port.Port}}
{{ if .Service.Domains }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: {{.Namespace}}
  name: {{.Service.Name}}-domains
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    convox.com/backend-protocol: "{{.Service.Port.Scheme}}"
    kubernetes.io/ingress-class: "{{.Class}}"
    nginx.ingress.kubernetes.io/backend-protocol: "{{.Service.Port.Scheme}}"
    {{ if .Service.Sticky }}
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-name: CONVOXSESSION
    {{ end }}
    {{ range $k, $v := .Annotations }}
    {{$k}}: {{ safe $v }}
    {{ end }}
    cert-manager.io/cluster-issuer: letsencrypt-dns
  labels:
    app: {{.App}}
    service: {{.Service.Name}}
    type: service
spec:
  tls:
  - hosts:
    {{ range .Service.Domains }}
    - {{ safe . }}
    {{ end }}
    secretName: cert-{{$.Service.Name}}-domains
  rules:
  {{ range .Service.Domains }}
  - host: {{ safe . }}
    http:
      paths:
      - backend:
          serviceName: {{$.Service.Name}}
          servicePort: {{$.Service.Port.Port}}
  {{ end }}
{{ end }}