{{ if .Service.Port.Port }}
apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: {{.Service.Name}}
  annotations:
    alb.ingress.kubernetes.io/target-type: pod
    convox.service.ports.{{.Service.Port.Port}}.protocol: {{.Service.Port.Scheme}}
    cloud.google.com/app-protocols: '{"main":"{{ upper .Service.Port.Scheme }}"}'
  labels:
    service: {{.Service.Name}}
spec:
  type: ClusterIP
  selector:
    service: {{.Service.Name}}
    release: {{.Release.Id}}
    type: service
  ports:
    - name: main
      port: {{.Service.Port.Port}}
      protocol: TCP
      targetPort: {{.Service.Port.Port}}
{{ end }}
