{{ if .Service.Port.Port }}
apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: {{.Service.Name}}
  annotations:
    alb.ingress.kubernetes.io/target-type: pod
    convox.service.ports.{{.Service.Port.Port}}.protocol: {{.Service.Port.Scheme}}
    cloud.google.com/app-protocols: '{"main":"{{ upper .Service.Port.Scheme }}"}'
  labels:
    service: {{.Service.Name}}
spec:
  type: ClusterIP
  selector:
    service: {{.Service.Name}}
    release: {{.Release.Id}}
    type: service
  ports:
    {{ with .Service.Port }}
    - name: main
      port: {{.Port}}
      protocol: TCP
      targetPort: {{.Port}}
    {{ end }}
    {{ range .Service.Ports }}
    - name: port-{{.Port}}
      port: {{.Port}}
      protocol: {{ upper .Protocol }}
      targetPort: {{.Port}}
    {{ end }}
{{ end }}
