---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    convox.com/type: timer
    {{- if ne (len .Annotations) 0 }}
    {{- yamlMarshal .Annotations | nindent 4 }}
    {{- end }}
  namespace: {{.Namespace}}
  name: timer-{{.Timer.Name}}
  labels:
    timer: {{.Timer.Name}}
    type: serviceaccount
---
kind: CronJob
apiVersion: batch/v1
metadata:
  namespace: {{.Namespace}}
  name: timer-{{.Timer.Name}}
spec:
  schedule: "{{.Timer.Schedule}}"
  concurrencyPolicy: {{.Timer.Concurrency}}
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 0
      # ttlSecondsAfterFinished: 60
      {{ if gt .Timer.ParallelCount 1 }}
      completionMode: "Indexed"
      completions: {{ .Timer.ParallelCount }}
      parallelism: {{ .Timer.ParallelCount }}
      {{ end }}
      template:
        metadata:
          annotations:
            convox.com/type: timer
            {{- if ne (len .Annotations) 0 }}
            {{- yamlMarshal .Annotations | nindent 12 }}
            {{- end }}
          labels:
            system: convox
            rack: {{.Rack}}
            app: {{.App.Name}}
            name: {{.Timer.Name}}
            release: {{.Release.Id}}
            service: {{.Service.Name}}
            type: timer
            {{ range keyValue .Service.Labels }}
            {{.Key}}: "{{.Value}}"
            {{ end }}
        spec:
          {{ if or (.Service.NodeSelectorLabels) (.Service.NodeAffinityLabels) }}
          affinity:
            nodeAffinity:
              {{ if .Service.NodeSelectorLabels }}
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  {{ range keyValue .Service.NodeSelectorLabels }}
                  - key: {{ .Key }}
                    operator: In
                    values:
                    - {{ .Value }}
                  {{ end }}
              {{ end }}
              {{ if .Service.NodeAffinityLabels }}
              preferredDuringSchedulingIgnoredDuringExecution:
              {{ range .Service.NodeAffinityLabels }}
              - weight: {{ .Weight }}
                preference:
                  matchExpressions:
                  - key: {{ .Label }}
                    operator: In
                    values:
                    - {{ .Value }}
              {{ end }}
              {{ end }}
          {{ end }}
          {{ if .Service.NodeSelectorLabels }}
          {{ $hasTolerations := false }}
          {{ range keyValue .Service.NodeSelectorLabels }}
            {{ if eq .Key "convox.io/label" }}
              {{ $hasTolerations = true }}
            {{ end }}
          {{ end }}
          {{ if $hasTolerations }}
          tolerations:
            {{ range keyValue .Service.NodeSelectorLabels }}
            {{ if eq .Key "convox.io/label" }}
            - key: "dedicated-node"
              operator: "Equal"
              value: "{{.Value}}"
              effect: "NoSchedule"
            {{ end }}
            {{ end }}
          {{ end }}
          {{ end }}
          {{ if .Service.DisableHostUsers }}
          hostUsers: false
          {{ end }}
          {{ if or (.Resolver) (gt .Service.DnsConfig.Ndots 0) }}
          dnsPolicy: "None"
          dnsConfig:
            {{ if gt .Service.DnsConfig.Ndots 0 }}
            options:
            - name: ndots
              value: "{{.Service.DnsConfig.Ndots}}"
            {{ end }}
            {{ with .Resolver }}
            nameservers:
              - "{{ . }}"
            {{ if not (index $ "DisableDnsSearches") }}
            searches:
              - "{{$.App.Name}}.{{$.Rack}}.local"
              - "{{$.Namespace}}.svc.cluster.local"
              - "{{$.Rack}}.local"
              - "svc.cluster.local"
              - "cluster.local"
            {{ end }}
            {{ end }}
          {{ end }}
          restartPolicy: Never
          shareProcessNamespace: {{.Service.Init}}
          serviceAccountName: timer-{{.Timer.Name}}
          containers:
          - name: {{.App.Name}}
            args:
            {{ range shellsplit .Timer.Command }}
              - {{ safe . }}
            {{ end }}
            env:
            - name: INSTANCE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            {{ if gt .Timer.ParallelCount 1 }}
            - name: TIMER_INDEX
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['batch.kubernetes.io/job-completion-index']
            {{ end }}
            {{ range $.Resources }}
            - name: "{{.Env}}"
              valueFrom:
                configMapKeyRef:
                  name: resource-{{ k8sname .Name }}
                  key: {{ .GetConfigMapKey }}
            {{ end }}
            envFrom:
            - secretRef:
                name: env-{{.Service.Name}}
            image: {{ image .App .Service .Release }}
            imagePullPolicy: IfNotPresent
            resources:
              limits:
                {{ if (gt .Service.Scale.Limit.Cpu 0)}}
                cpu: "{{.Service.Scale.Limit.Cpu}}m"
                {{ end }}
                {{ with .Service.Scale.Gpu.Count }}
                {{ if hasSuffix $.Service.Scale.Gpu.Vendor ".com"}}
                {{$.Service.Scale.Gpu.Vendor}}/gpu: "{{.}}"
                {{ else }}
                {{$.Service.Scale.Gpu.Vendor}}.com/gpu: "{{.}}"
                {{ end }}
                {{ end }}
                {{ if (gt .Service.Scale.Limit.Memory 0)}}
                memory: "{{.Service.Scale.Limit.Memory}}Mi"
                {{ else if (gt .Service.Scale.Memory 0)}}
                memory: "{{.Service.Scale.Memory}}Mi"
                {{ end }}
              requests:
                {{ with .Service.Scale.Cpu }}
                cpu: "{{.}}m"
                {{ end }}
                {{ with .Service.Scale.Gpu.Count }}
                {{ if hasSuffix $.Service.Scale.Gpu.Vendor ".com"}}
                {{$.Service.Scale.Gpu.Vendor}}/gpu: "{{.}}"
                {{ else }}
                {{$.Service.Scale.Gpu.Vendor}}.com/gpu: "{{.}}"
                {{ end }}
                {{ end }}
                {{ with .Service.Scale.Memory }}
                memory: "{{.}}Mi"
                {{ end }}
            volumeMounts:
            - name: ca
              mountPath: /etc/convox
            {{ range .Service.Volumes }}
            - name: {{ volumeName $.App.Name (volumeFrom $.App.Name $.Service.Name .) }}
              mountPath: "{{ volumeTo . }}"
            {{ end }}
            {{ range .Service.ConfigMounts }}
            - name: cfg-{{ .Id }}
              mountPath: "{{ pathJoin .Dir .Filename }}"
              subPath: "{{ .Filename }}"
            {{ end }}
            {{ range .Service.VolumeOptions }}
            {{ with .EmptyDir }}
            - name: ed-{{ .Id }}
              mountPath: {{ .MountPath }}
            {{ end }}
            {{ with .AwsEfs }}
            - name: efs-{{ .Id }}
              mountPath: {{ .MountPath }}
            {{ end }}
            {{ end }}
          volumes:
          - name: ca
            configMap:
              name: ca
              optional: true
          {{ range (volumeSources $.App.Name .Service.Name .Service.Volumes) }}
          - name: {{ volumeName $.App.Name . }}
            {{ if systemVolume . }}
            hostPath:
              path: "{{.}}"
            {{ else }}
            persistentVolumeClaim:
              claimName: {{ volumeName $.App.Name . }}
            {{ end }}
          {{ end }}
          {{ range .Service.VolumeOptions }}
          {{ with .EmptyDir }}
          - name: ed-{{ .Id }}
            {{ if .Medium }}
            emptyDir:
              medium: {{ .Medium }}
            {{ else }}
            emptyDir: {}
            {{ end }}
          {{ end }}
          {{ with .AwsEfs }}
          - name: efs-{{ .Id }}
            persistentVolumeClaim:
              claimName: efs-{{$.Service.Name}}-{{.Id}}
          {{ end }}
          {{ end }}
          {{ range $.Service.ConfigMounts }}
          - name: cfg-{{ .Id }}
            secret:
              secretName: cfg-{{ .Id }}
              items:
                - key: app.json
                  path: {{ .Filename }}
          {{ end }}
