{{ range .Volumes }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: {{$.Namespace}}
  name: {{ volumeName $.App . }}
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: convox-volumes-storage-class
{{ end }}
