apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
 name: letsencrypt
 namespace: cert-manager
spec:
 acme:
   # The ACME server URL
   server: https://acme-v02.api.letsencrypt.org/directory
   # Email address used for ACME registration
   email: ops@convox.com
   # Name of a secret used to store the ACME account private key
   privateKeySecretRef:
     name: letsencrypt
   # Enable the HTTP-01 challenge provider
   solvers:
   - http01:
       ingress:
         class: nginx
---
apiVersion: v1
kind: Secret
metadata:
  name: ca
  namespace: cert-manager
data:
  tls.crt: "{{.CaPublic}}"
  tls.key: "{{.CaPrivate}}"
---
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: self-signed
  namespace: cert-manager
spec:
  ca:
    secretName: ca