apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-dns
  namespace: cert-manager
spec:
 acme:
   server: https://acme-v02.api.letsencrypt.org/directory
   email: ops@convox.com
   privateKeySecretRef:
     name: letsencrypt-dns
   solvers:
   - dns01:
       cnameStrategy: None
       rfc2136:
         nameserver: "{{.Resolver}}:53"
         tsigAlgorithm: HMACMD5
         tsigKeyName: axfr
         tsigSecretSecretRef:
           key: secret
           name: letsdns-tsig
---
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-http
  namespace: cert-manager
spec:
 acme:
   server: https://acme-v02.api.letsencrypt.org/directory
   email: ops@convox.com
   privateKeySecretRef:
     name: letsencrypt-http
   solvers:
   - http01:
       ingress:
         class: nginx