{{ define "content" }}

  <p class="mt-3">
    Document not found
  </p>
  <p class="mt-3">
    This is the documenation for the latest multi-cloud version of Convox. 
    If you are looking for the documentation for the, ECS backed, Gen2 version of Convox please go <a href="https://docsv2.convox.com/">here</a>
  </p>

{{ end }}
