apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{.Namespace}}
  name: resource-{{ k8sname .Name }}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    resource: {{.Name}}
data:
  URL: "memcached://resource-{{ k8sname .Name }}.{{.Namespace}}.svc.cluster.local:11211"
  USER: ""
  PASS: ""
  HOST: "resource-{{ k8sname .Name }}.{{.Namespace}}.svc.cluster.local"
  PORT: "11211"
  NAME: ""
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{.Namespace}}
  name: resource-{{ k8sname .Name }}
  annotations:
    atom.conditions: Available=True,Progressing=True/NewReplicaSetAvailable
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    kind: memcached
    resource: {{.Name}}
spec:
  selector:
    matchLabels:
      system: convox
      rack: {{.Rack}}
      app: {{.App}}
      resource: {{.Name}}
  replicas: 1
  template:
    metadata:
      labels:
        system: convox
        rack: {{.Rack}}
        app: {{.App}}
        type: resource
        resource: {{.Name}}
    spec:
      containers:
      - name: memcached
        image: {{ if not .Image }}memcached:{{ coalesce (index .Parameters "version") "1.4.34" }}{{ else }}{{ .Image }}{{ end }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 11211
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{.Namespace}}
  name: resource-{{ k8sname .Name }}
  labels:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    type: resource
    resource: {{.Name}}
spec:
  type: NodePort
  ports:
  - port: 11211
  selector:
    system: convox
    rack: {{.Rack}}
    app: {{.App}}
    resource: {{.Name}}
