name: release
on:
  push:
    branches-ignore: ["*"]
    tags: ["*"]
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: golang-1.16
        uses: actions/setup-go@v3
        with:
          go-version: '1.16.12'
      - name: version
        run: echo "VERSION=$(echo ${{ github.ref }} | awk -F/ '{print $3}')" >> $GITHUB_ENV
      - name: changelog
        id: changelog
        run: |
          changelog=$(git log --pretty="* %s" ...$(git describe --abbrev=0 HEAD~))
          echo ${changelog}
          changelog="${changelog//'%'/'%25'}"
          changelog="${changelog//$'\n'/'%0A'}"
          changelog="${changelog//$'\r'/'%0D'}"
          echo "::set-output name=text::${changelog}"
      - name: release
        id: release
        uses: ddollar/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: ${{ steps.changelog.outputs.text }}
          prerelease: true
          release_name: "${{ env.VERSION }}"
          tag_name: ${{ env.VERSION }}
      - name: tools
        run: make tools
      - name: cli
        run: make -C cmd/convox build
        env:
          IMAGE: ${{ github.repository }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: login
        run: docker login --username "${DOCKER_USERNAME}" --password "${DOCKER_PASSWORD}"
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - name: build-amd64
        run: docker buildx build --platform linux/amd64 -t ${{ github.repository }}:${{ env.VERSION }} --push --cache-from type=registry,ref=${{ github.repository }} --cache-to type=registry,ref=${{ github.repository }},mode=max .
      - name: build-arm64
        run: docker buildx build --platform linux/arm64 -t ${{ github.repository }}:${{ env.VERSION }}-arm64 --push --cache-from type=registry,ref=${{ github.repository }} --cache-to type=registry,ref=${{ github.repository }},mode=max --build-arg DOCKER_ARCH=aarch64 --build-arg KUBECTL_ARCH=arm64 .
      - name: release-cli-linux
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./cmd/convox/pkg/convox-linux-amd64
          asset_name: convox-linux
          asset_content_type: application/octet-stream
      - name: release-cli-linux-arm64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./cmd/convox/pkg/convox-linux-arm64
          asset_name: convox-linux-arm64
          asset_content_type: application/octet-stream
      - name: release-cli-macos
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./cmd/convox/pkg/convox-darwin-10.16-amd64
          asset_name: convox-macos
          asset_content_type: application/octet-stream
      - name: release-cli-macos-arm64
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./cmd/convox/pkg/convox-darwin-arm64
          asset_name: convox-macos-arm64
          asset_content_type: application/octet-stream
  ci:
    if: github.repository == 'convox/convox'
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        job:
          - aws
          - aws-arm64
          - aws-downgrade
          - aws-existing-vpc
          - aws-upgrade
          - do
          - gcp
          # - azure
        include:
          - job: aws
            provider: aws
            rack_params: "region=us-east-2"
          - job: aws-arm64
            provider: aws
            rack_params: "node_type=t4g.small proxy_protocol=true"
            suffix: arm64
          - job: aws-downgrade
            provider: aws
            suffix: downgrade
            downgrade: true
          - job: aws-existing-vpc
            provider: aws
            rack_params: "vpc_id=vpc-0f18b6d1265717215 internet_gateway_id=igw-01c3d338eecec02a1 cidr=172.0.0.0/16"
            suffix: evpc
          - job: aws-upgrade
            provider: aws
            suffix: upgrade
            upgrade: true
          - job: do
            provider: do
          - job: gcp
            provider: gcp
          # - job: azure
          #   provider: azure
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: version
        run: echo "VERSION=$(echo ${{ github.ref }} | awk -F/ '{print $3}')" >> $GITHUB_ENV
      - name: name
        run: echo "RACK_NAME=ci-$(date +"%Y%m%d%H%M%S")${{ matrix.suffix }}" >> $GITHUB_ENV
      - name: provider
        run: echo "PROVIDER=${{ matrix.provider }}" >> $GITHUB_ENV
      - name: rack-params
        run: echo "RACK_PARAMS=${{ matrix.rack_params }}" >> $GITHUB_ENV
      - name: secrets
        run: ci/secrets.sh
        env:
          SECRETS: ${{ toJson(secrets) }}
      - name: dependencies
        run: ci/dependencies.sh
      - name: cli
        run: ci/cli.sh
      - name: install
        run: ci/install.sh
        if: ${{ matrix.upgrade == false }}
      - name: install last release
        run: ci/install_last_release.sh
        if: ${{ matrix.upgrade == true }}
      - name: wait
        run: sleep 600
      - name: before version upgrade/downgrade setup
        run: ci/before_update_setup.sh
        if: ${{ matrix.downgrade == true || matrix.upgrade == true}}
      - name: downgrade
        run: ci/downgrade.sh
        if: ${{ matrix.downgrade == true }}
      - name: upgrade
        run: ci/upgrade.sh
        if: ${{ matrix.upgrade == true }}
      - name: after version upgrade/downgrade check
        run: ci/after_update_check.sh
        if: ${{ matrix.downgrade == true || matrix.upgrade == true }}
      - name: test
        run: ci/test.sh
      - name: debug
        run: ci/debug.sh
        if: always()
      - name: uninstall
        run: ci/uninstall.sh
        if: always()
