name: test
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: build
        run: docker buildx build --platform linux/amd64,linux/arm64 .
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: test
        run: make test
  tooling:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: golang-1.16
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.12'
      - name: dependency
        run: sudo apt install libudev-dev
      - name: tools
        run: make tools
      - name: cli
        run: make -C cmd/convox build

