name: test
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: build
        run: docker buildx build --platform linux/amd64,linux/arm64 .
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: test
        run: make test
  tooling:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: golang-1.23
        uses: actions/setup-go@v3
        with:
          go-version: '1.23'
      - name: tools
        run: make tools
      - name: cli
        run: make -C cmd/convox build
